form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

body{
background-image: url(./pokemonWallpaper.jpg);
}

.pokedex{
    background-color: rgba(255, 0, 0, 0.9);
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid rgb(5, 38, 68);
}

@media (min-width: 768px) {
    .pokedex{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        max-width: 90rem;
        margin-left: 10rem;
        margin-right: 10rem;
        gap: 2rem;
    }
}
.poke-info{
    background-color: #FFF;
    font-family: 'Roboto Mono', monospace;
    border: 3px solid rgb(5, 38, 68);
    border-radius: 4px;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border: 3px solid rgb(5, 38, 68);
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
}

.poke-card::before {
    border-radius: 4px;
    border: 3px solid rgb(5, 38, 68);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}

footer{
    background-color: rgba(255, 0, 0, 0.9);
    padding: 1.5rem 0;
    margin-top: 2rem;
}

.footer__text{
    color: #FFF;
    text-align: center;
}